.navbar{
    position:sticky;
    top:0;
    z-index:1000;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    background:white;

    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}


.logo{
    font-size:24px;
    font-weight:700;
    color:#2563eb;
}


.nav-links{
    display:flex;
    gap:35px;
    list-style:none;
}


.nav-links a{

    text-decoration:none;

    color:#374151;

    font-size:16px;
    font-weight:500;

    transition:0.3s;

}


.nav-links a:hover{

    color:#2563eb;

}


.nav-links a.active{

    color:#2563eb;

    font-weight:700;

    border-bottom:3px solid #2563eb;

    padding-bottom:5px;

}


@media(max-width:768px){

    .navbar{

        flex-direction:column;
        gap:20px;

    }


    .nav-links{

        flex-wrap:wrap;
        justify-content:center;
        gap:20px;

    }

}