.stats{
    display:flex;
    justify-content:center;
    gap:35px;
    padding:70px;
    background:white;
    flex-wrap:wrap;
}

.stat-card{
    width:220px;
    text-align:center;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.stat-card h2{
    color:#2563eb;
    font-size:40px;
    margin-bottom:10px;
}

.stat-card p{
    color:#6b7280;
}