/* ==========================
   GOOGLE FONT
========================== */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');


/* ==========================
   LIGHT THEME
========================== */

:root{

    --primary:#2563eb;

    --bg:#f8fafc;

    --card:#ffffff;

    --text:#111827;

    --secondary:#6b7280;

    --border:#e5e7eb;

}


/* ==========================
   DARK THEME
========================== */

body.dark-theme{

    --primary:#3b82f6;

    --bg:#0f172a;

    --card:#1e293b;

    --text:#f8fafc;

    --secondary:#cbd5e1;

    --border:#334155;

}


/* ==========================
   GLOBAL RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:"Inter",sans-serif;

    background:var(--bg);

    color:var(--text);

    transition:
    background .35s ease,
    color .35s ease;

}

a{
    text-decoration:none;
    color:inherit;
}

button{
    font-family:inherit;
}

img{
    max-width:100%;
    display:block;
}

section{
    transition:.35s ease;
}